[submodule ".scripts/spotify"]
	path = .scripts/spotify
	url = https://github.com/IvarWithoutBones/i3blocks-spotify
[submodule ".scripts/i3blocks"]
	path = .scripts/i3blocks
	url = https://github.com/IvarWithoutBones/i3blocks-contrib
